<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.njk' %}

<body class="antialiased text-base font-inter font-[425] leading-normal text-gray-950 bg-white">
    <main class="px-6 md:px-12 lg:px-16 mb-12 md:mb-16">
        {{ content | safe }}
    </main>
</body>

</html>