<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.njk' %}

<body class="antialiased text-base font-inter font-normal leading-norma text-gray-950 bg-white">
    <main class="px-5 md:px-12 lg:px-16">
        {{ content | safe }}
    </main>
</body>

</html>