---
layout: base.njk
---

<article class="mt-12 lg:mt-24">
    <div class="left-8 right-0 top-24 max-w-5xl mx-auto lg:fixed text-sm font-medium text-zinc-800 mb-8 lg:mb-0"><a href="/"><span class="text-zinc-500">&larr;&nbsp;&nbsp;</span>Go back</a></div>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-2xl font-bold lg:text-[28px]">{{ title }}</h1>
        <p class="text-zinc-600 mt-3 text-base inline-block leading-snug">{{ year }} · {{ type }}</p>
        <div class="post pt-8">
            {{ content | safe }}
        </div>
    </div>
</article>