---
layout: base.njk
---

<div class="mb-9 md:mb-16">
    <div class="my-16 md:my-20 max-w-xl">
        <h1 class="text-4xl md:text-5xl leading-tight md:leading-tight font-semibold tracking-tight mb-6">Hey there, I'm
            Josh. Welcome to my portfolio.</h1>
        <p class="leading-7">I'm a simplicity-focused designer and developer specializing in user
            interface design and web accessibility.</p>
        {% include 'partials/links.njk' %}
    </div>
    {% include 'partials/projects.njk' %}
</div>