<footer class="px-5">
    <div class="my-16 lg:my-24 text-center text-zinc-500">
        <p>&copy; 2024 Josh Dors <br>Built with <a href="https://11ty.dev/" target="_blank"
                class="link">Eleventy</a> and <a href="https://tailwindcss.com/"  target="_blank" class="link">Tailwind CSS</a>.</p>
    </div>
</footer>