<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="description" content="{{ meta.siteDescription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.siteName }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    @font-face {
      font-family: InterVariable;
      font-style: normal;
      font-weight: 100 900;
      font-display: swap;
      src: url("/Inter/InterVariable.woff2") format("woff2");
    }
  </style>
</head>