<section id="hero" class="md:text-center my-20 md:my-24 max-w-2xl mx-auto">
    <h1 class="text-3xl md:text-[38px] font-extrabold mb-6 leading-tight md:leading-tight">Hey, I'm Josh</h1>
    <p class="text-lg leading-8 text-zinc-700">I’m a designer and developer who enjoys building simple and accessible
        digital experiences, specializing in user interface design and web accessibility.</p>
    <div class="flex flex-row gap-3 mt-7 md:items-center md:justify-center">
        <a href="mailto:web@joshdors.me"
            class="bg-blue-600 hover:bg-blue-600 rounded-md text-[15px] font-semibold text-white px-6 py-3 text-center leading-5 shadow-sm">Contact</a>
        <a href="https://www.linkedin.com/in/joshdors/" target="_blank"
            class="bg-white ring-1 ring-zinc-700/15 rounded-md text-[15px] font-semibold px-6 py-3 text-center leading-5 ring-inset shadow-sm hover:bg-zinc-50">Resume/CV</a>
    </div>
</section>