<section id="hero" class="md:text-center my-20 md:my-24 max-w-3xl mx-auto">
    <h1 class="text-3xl md:text-4xl font-bold mb-5 leading-snug md:leading-snug">I'm a designer and developer who creates simple and accessible digital experiences</h1>
    <p class="text-lg leading-8 text-zinc-700">Specializing in user interface design and web accessibility.</p>
    <div class="flex flex-row gap-3 mt-7 md:items-center md:justify-center">
        <a href="mailto:web@joshdors.me"
            class="bg-blue-600 hover:bg-blue-700 rounded-md text-sm font-medium text-white px-4 py-3 leading-5 shadow-sm">Contact</a>
        <a href="https://www.linkedin.com/in/joshdors/" target="_blank"
            class="bg-white ring-1 ring-zinc-700/15 rounded-md text-sm font-medium px-4 py-3 text-center leading-5 ring-inset shadow-sm hover:bg-zinc-50">Resume/CV</a>
    </div>
</section>