<nav class="sticky border-b top-0 w-full bg-white/90 shadow-sm backdrop-blur-md">
    <div class="max-w-2xl mx-auto">
        <div>
            <ul class="flex flex-row text-[15px] gap-x-0.5 font-medium items-center justify-center py-1">
                <li><a href="/" class="text-cyan-800 leading-5 bg-cyan-600/5 px-3.5 py-2.5 flex rounded-md">Home</a>
                </li>
                <li><a href="/projects/other" class="leading-5 flex rounded px-3.5 py-2.5">Explorations</a></li>
            </ul>
        </div>
    </div>
</nav>